
<br>
<h1>Search genres!</h1>
<input type="text" #contentTitle> <button (click)="submitInput(contentTitle.value, gameLists)">Search</button>
<br>
<app-messages></app-messages>
<h2>MMOS's</h2>
<app-content-list *ngFor="let individualGame of (gameLists | firstType: 'MMORPG'); index as i genre as isMMO"
                  [game]="individualGame"
                  class="isMMO" [class.is-MMO]="isMMO">

</app-content-list>
<h2 class="titles">Openworld</h2>
<app-content-list *ngFor="let individualGame of (gameLists | firstType: 'Openworld'); index as i genre as isOpen"
                  [game]="individualGame"
                  class="isOpen" [class.is-Open]="isOpen">
</app-content-list>





